/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@font-face {
  font-family: "Junction";
  src: url(../fonts/Junction 02.otf) format("opentype");  
}

body {
  font-family: "Junction",Verdana,Helvetica,Arial,sans-serif;
  background: #fff;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dashed #000000;
}

a:hover {
  color: #fff;
  background-color: #000;
  padding: 6px 3px 3px;
}

.site-name-slogan a, .logo-img a {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Junction",Georgia,'Times New Roman',serif;
    letter-spacing: -0.05em;
}